/* Fonts imported from google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Color palette */
:root{
  --bg-color: #F9FAFB;
  --text-color: #111827;
  --accent-color: #148D80;
  --grey-color: #F4F4F4;
}

body{
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  color: var(--text-color);
  display: grid;
}
h1, h2, h3, .btn{
  font-family: montserrat;
}
.btn{
  color: var(--bg-color);
  background-image: linear-gradient(60deg, #148D80, #18A999);
  line-height: 125%;
}
p, a{
  font-family: inter;
}
p{
  opacity: .6;
}
.note-text{
  font-family: 'Fira Code';
}
.hamburgerLine{
  @apply w-8 h-1 rounded;
  background-color: var(--text-color)
}
.serviceNumber{
  font-family: montserrat;
  opacity: .25
}

@import "tailwindcss";